{% extends "layout.html.twig" %}

{% block content %}
    {% if session.id %} 
        <h1>Bonjour, {{session.user}}</h1>
        <p>Vous êtes actuellement connecté en tant qu'administrateur.</p>
        <a class="btn btn-info" href="{{ path_for('admin')}}">Ajouter un nouvel évènement</a>
        <a class="btn btn-info" href="{{ path_for('root')}}">Voir l'ensemble des évènements</a>
        <a class="btn btn-primary" href="{{ path_for('disconnect')}}">Se déconnecter</a>
    {% else %} 
        <h1>Connection à l'administration</h1>
        <p>Entrer votre nom d'administrateur et votre mot de passe pour vous connecter.</p>

        {% if flash.error %}
            <div class="alert alert-danger">
                {{ flash.error}}
            </div>
        {% endif %}

        <form action="{{ path_for('connectAdmin') }}" method="post">
            {{ csrf() }}
            <div class="form-group">
                <label for="user">Nom d'utilisateur :</label>
                <input type="text" class="form-control {% if flash.errors.user %} is-invalid {% endif %}" id="user" name="user" value="{{ old.user}}" required>
                {% if flash.errors.user %} 
                    <div class="invalid-feedback">
                        {{ flash.errors.user }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="pass">Votre mot de pass</label>
                <input type="password" class="form-control {% if flash.errors.pass %} is-invalid {% endif %}" id="pass" name="pass" value="" required>
                {% if flash.errors.pass %} 
                    <div class="invalid-feedback">
                        {{ flash.errors.pass }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Se connecter" >
            </div>
        </form>
    {% endif %} 
{% endblock %}
