{# App/views/pages/eventDetail.html.twig #}
{% extends "layout.html.twig" %}

{% block content %}
    <div class="text-center">
        <h1 class="mt-5">{{event.name}}</h1>
        <h2> Organisé par : {{event.organizer}}</h2>
        <h3> à : {{event.place}}, le : {{ event.date|date('d/m/Y')  }} à {{ event.hour }}</h3>
        <h4> Tarif : {% if event.price == 0 %} gratuit {% else %} {{event.price}} {% endif%}</h4>
        <p>{{ event.description }}</p>
        <img src="../../../public/{{event.image}}"  />
    </div>
    
{% endblock content%}
