{# App/views/pages/eventsTemplate.html.twig #}

{% if session.id %} 
                <tr>
                    <th scope="row" class="{% if event.status == 0%}
                            table-info
                        {% elseif event.status == 2%}
                           table-warning
                        {% elseif event.status == 1 and event.dateEvent|date("Y-m-d") < "now"|date("Y-m-d") %}
                            table-danger
                        {% endif %}">
                        {% if event.status == 0%}
                            Brouillon
                        {% elseif event.status == 2%}
                            Archivé
                        {% elseif event.status == 1 and event.dateEvent|date("Y-m-d") < "now"|date("Y-m-d") %}
                            A archiver
                        {% endif %}</th>
                    <td>{{ event.name }}</td>
                    <td>{{ event.organizer }}</td>
                    <td>{{ event.place }}</td>
                    <td>{{ event.date|date('d/m/Y')  }}</td>
                    <td>{{ event.hour }}</td>
                    <td>{% if event.price == 0 %} gratuit {% else %} {{event.price}} {% endif%}</td>
                    <td><a href="{{ path_for('event', { 'id': event.id }) }}">Détails<a> ou <a href="{{ path_for('update', { 'id': event.id }) }}">Mettre à jour<a></td>
                </tr>
{% else %}
    {% if event.status == 1 and event.start_view_date|date("Y-m-d") <= "now"|date("Y-m-d") and event.end_view_date|date("Y-m-d") >= "now"|date("Y-m-d") %}
        <tr>
            <th scope="row"></th>
            <td>{{ event.name }}</td>
            <td>{{ event.organizer }}</td>
            <td>{{ event.place }}</td>
            <td>{{ event.dateEvent|date('d/m/Y') }}</td>
            <td>{{ event.hour }}</td>
            <td>{% if event.price == 0 %} gratuit {% else %} {{event.price}} {% endif%}</td>
            <td><a href="{{ path_for('event', { 'id': event.id }) }}">Détails<a></td>
        </tr>
    {% endif %}
{% endif %}