{# App/views/pages/eventDetail.html.twig #}
{% extends "layout.html.twig" %}

{% block title %}{{event.name}}{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="mt-3">{{event.name}}</h1>
        <p class="organizer"> Organisé par : {{event.organizer}}</p>
        <h3> à : {{event.place}}, le : {{ event.date|date('d/m/Y')  }} à {{ event.hour }}</h3>
        <h4> Tarif : {% if event.price == 0 %} gratuit {% else %} {{event.price}}€ {% endif%}</h4>
        <p>{{ event.description }}</p>
        {% if event.image %}
            <img class="imgEvent" src="../../../public/{{event.image}}"  />
        {% endif %}
    </div>
    
{% endblock content%}
