{% extends "layout.twig" %}

{% block content %}

    <h1>Bienvenue</h1>
    <p>Principium autem unde latius se funditabat, emersit ex negotio tali. Chilo ex vicario et coniux eius 
        Maxima nomine, questi apud Olybrium ea tempestate urbi praefectum, vitamque suam venenis petitam 
        adseverantes inpetrarunt ut hi, quos suspectati sunt, ilico rapti conpingerentur in vincula, organarius 
        Sericus et Asbolius palaestrita et aruspex Campensis.</p>
    
    {% for event in events  %}
        <div class="row justify-content-around" >        
            <p>{{ event.name }}</p>
            <p>{{ event.place }}</p>
            <p>{{ event.date }}</p>
            <p>{{ event.price }}</p>
            <p>{{ event.description }}</p>
            <p>{{ event.status}}</p>
        </div>
    {% endfor %}


{% endblock %}
