{% extends "layout.twig" %}

{% block content %}

    <h1>Résultats de recherche</h1>
   
    
        {% for event in events  %}
        <div class="row justify-content-around" >        
            <p>{{ event.name }}</p>
            <p>{{ event.place }}</p>
            <p>{{ event.date_fr }}</p>
            <p>{{ event.hour }}</p>
            <p>{{ event.price }}</p>
            <p>{{ event.description }}</p>
            <p>{{ event.status}}</p>
        </div>
    {% endfor %}
{% endblock %}
