{# App/views/pages/admin.html.twig #}
{% extends "layout.html.twig" %}
{%block style %}<link rel="stylesheet" type="text/css" href="../../../public/style.css" />{% endblock %}

{% block title %}Gestion d'évènement{% endblock %}

{% block content %}
    
    {% if session.id %} 
        
        <div class="col-lg-8 offset-lg-2 col-sm-12 my-3">
            <div class="text-center topPageText">
                <h1>Entrer un nouvel évènement, {{ session.user }} :</h1>
            </div>
            {% if flash.success %}
                <div class="alert alert-success">
                    {{ flash.success }}
                </div>
            {% endif %}
            {% if flash.error %}
                <div class="alert alert-danger">
                    {{ flash.error}}
                </div>
            {% endif %}
        </div>
        
        <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
            <form action="{% if event %}{{ path_for('admin') }}{% else %}{{ path_for('admin') }}{% endif %}" method="post" enctype="multipart/form-data">
                {{ csrf() }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Nom : </label>
                        <input 
                            type="text" 
                            class="form-control {% if flash.errors.name %} is-invalid {% endif %}"
                            id="name"  name="name" 
                            placeholder="" 
                            value="{{ event.name }}{{ old.name}} " 
                            required>
                    </div>
                    {% if flash.errors.image %} 
                        <div class="invalid-feedback">
                            {{ flash.errors.image }}
                        </div>
                    {% endif %}
                    <div class="form-group col-md-6">
                        <label for="organizer">Organisateur : </label>
                        <input 
                            type="text" 
                            class="form-control {% if flash.errors.organizer %} is-invalid {% endif %}" 
                            id="organizer"  
                            name="organizer"
                            placeholder="" 
                            value="{{ event.organizer }}{{ old.organizer}}" 
                            required>
                    </div>
                    {% if flash.errors.organizer %} 
                        <div class="invalid-feedback">
                            {{ flash.errors.organizer }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="date">Date : </label>
                        <input 
                            type="date" 
                            class="form-control {% if flash.errors.date %} is-invalid {% endif %}" 
                            id="date" 
                            name="date" 
                            placeholder="" 
                            value="{{ event.dateEvent }}{{ old.date}}" 
                            min="2019-01-01" max="2100-12-31" 
                            required>
                    </div>
                    {% if flash.errors.date %} 
                        <div class="invalid-feedback">
                            {{ flash.errors.date }}
                        </div>
                    {% endif %}
                    <div class="form-group col-md-6">
                        <label for="hour">Heure : </label>
                        <input 
                            type="time" 
                            class="form-control {% if flash.errors.hour %} is-invalid {% endif %}" 
                            id="hour"  
                            name="hour" 
                            placeholder="" 
                            value="{{ event.hour }}{{ old.hour }}" 
                            min="00:00" max="23:59" 
                            required>
                    </div>
                </div>
                {% if flash.errors.hour %} 
                    <div class="invalid-feedback">
                        {{ flash.errors.hour }}
                    </div>
                {% endif %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="place">Lieu : </label>
                        <input 
                            type="text" 
                            class="form-control {% if flash.errors.place %} is-invalid {% endif %}" 
                            id="place" 
                            name="place" 
                            placeholder="" 
                            value="{{ event.place }}{{ old.place }}" 
                            required>
                        {% if flash.errors.place %} 
                            <div class="invalid-feedback">
                                {{ flash.errors.place }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="price">Tarif : </label>
                        <input 
                            type="text" 
                            class="form-control {% if flash.errors.price %} is-invalid {% endif %}" 
                            id="price" 
                            name="price" 
                            placeholder="" 
                            value="{{ event.price }}{{ old.price}}" >
                         {% if flash.errors.price %} 
                        <div class="invalid-feedback">
                            {{ flash.errors.price }}
                        </div>
                    {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description : </label>
                    <textarea 
                        type="text"
                        class="form-control {% if flash.errors.description %} is-invalid {% endif %}"
                        id="description" 
                        name="description" 
                        required>{% if event.description %} {{ event.description }}{% elseif old.description %} {{ old.description}}{% endif %} </textarea>
                    {% if flash.errors.description %} 
                        <div class="invalid-feedback">
                            {{ flash.errors.description }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="start_view_date">Date de début d'affichage : </label>
                        <input 
                            type="date" 
                            class="form-control {% if flash.errors.start_view_date %} is-invalid {% endif %}" 
                            id="start_view_date" 
                            name="start_view_date" 
                            value="{{ event.start_view_date }}{{ old.start_view_date}}" 
                            placeholder="" min="2019-01-01" max="2100-12-31" 
                            required>
                        {% if flash.errors.start_view_date %} 
                        <div class="invalid-feedback">
                            {{ flash.errors.start_view_date }}
                        </div>
                    {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="end_view_date">Date de fin d'affichage : </label>
                        <input 
                            type="date" 
                            class="form-control {% if flash.errors.end_view_date %} is-invalid {% endif %}" 
                            id="end_view_date" 
                            name="end_view_date" 
                            value="{{ event.end_view_date }}{{ old.end_view_date}}" 
                            placeholder="" 
                            min="2019-01-01" max="2100-12-31" 
                            required>
                        {% if flash.errors.end_view_date %} 
                        <div class="invalid-feedback">
                            {{ flash.errors.end_view_date }}
                        </div>
                    {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="status">Statut : </label>
                    <select type="text" class="form-control" id="status" name="status" placeholder="" required>
                        <option value="0" {% if event.status == 0 %}selected{% endif %}>Brouillon</option>
                        <option value="1" {% if event.status == 1 %}selected{% endif %}>Publié</option>
                        <option value="2" {% if event.status == 2 %}selected{% endif %}>Archivé</option>
                    </select>
                </div>
                <div class="form-row align-items-center justify-content-center">
                    <div class="form-group">
                        <label for="image">Pour ajouter un visuel, choisir une image (max. 1 Mo) :</label>
                        <input type="hidden" name="MAX-FILE-SIZE" value="1048576"/>
                        <input type="file" name="image" class="parcourir" id="image"/>
                        {% if event.image %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="delete" id="deleteImage" name="deleteImage">
                                <label class="form-check-label" for="deleteImage">
                                  Pour supprimer le visuel actuel sans le remplacer, cochez cette case
                                </label>
                            </div>
                        {% endif %}
                    </div>
                    {% if flash.errors.image %} 
                    <div class="invalid-feedback">
                        {{ flash.errors.image }}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {% if event.image %}<img src="../../../public/{{event.image}}" alt="{{event.name}}" class="thumbnail"/>{% endif %}
                    </div>
                </div>
                {% if event %}
                    <input type="hidden" name="_METHOD" value="PUT"/>
                    <input type="hidden" id="id" name="id"  value="{{ event.id }}" >
                    <input type="hidden" id="url" name="url"  value="{{ event.image }}" >
                {% endif %}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="{% if event %}Mettre à jour{% else %}Envoyer{% endif %}" >
                </div>
            </form>
            {% if event %}
                <form action="{{ path_for('admin') }}" method="post">
                    {{ csrf() }}
                    <input type="hidden" name="_METHOD" value="DELETE"/>
                    <input type="hidden" id="id" name="id"  value="{{ event.id }}" >
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" value="Supprimer cet évènement" >
                    </div>
                </form>
            {% endif %}
         </div>
    {% else %}
    <div class="col-md-8 offset-md-2 col-sm-12 my-3">
        <div class="text-center topPageText">
            <h1>Vous n'avez pas l'autorisation d'accéder à cette page</h1>
            <p>Nous vous invitons à retourner sur la page d'accueil en cliquant sur <a  href="{{ path_for('root', { 'page': 1 }) }}"> ce lien</a></p>
        </div>
    </div>
    {% endif %}
{% endblock %}

