{# App/views/pages/home.html.twig #}

{% extends "layout.html.twig" %}
{%block style %}<link rel="stylesheet" type="text/css" href="./style.css" />{% endblock %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <div class="text-center mb-5 mt-3 col-xl-4 offset-xl-4 topPageText">
        <h1>Bienvenue sur le site de la  vie culturelle de la Ville de Troyes !</h1>
        {% if flash.success %}
            <div class="alert alert-success">
                {{ flash.success }}
            </div>
        {% endif %}
        {% if flash.error %}
            <div class="alert alert-danger">
                {{ flash.error}}
            </div>
        {% endif %}
    </div>
    <div class="col-md-8 offset-md-2 mb-5">
        <form action="{{ path_for('recherche') }}">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="name">Nom : </label>
                    <input 
                        type="text" 
                        class="form-control {% if flash.errors.name %} is-invalid {% endif %}"
                        id="name"  name="name" 
                        placeholder="" 
                        value="{{ old.name}}" 
                        >
                </div>
                {% if flash.errors.name %} 
                    <div class="invalid-feedback">
                        {{ flash.errors.name }}
                    </div>
                {% endif %}
                <div class="form-group col-md-3">
                    <label for="organizer">Organisateur : </label>
                    <input 
                        type="text" 
                        class="form-control {% if flash.errors.organizer %} is-invalid {% endif %}" 
                        id="organizer"  
                        name="organizer"
                        placeholder="" 
                        value="{{ old.organizer}}" 
                        >
                </div>
                <div class="form-group col-md-3">
                    <label for="date">Date : </label>
                    <input 
                        type="date" 
                        class="form-control {% if flash.errors.date %} is-invalid {% endif %}" 
                        id="date" 
                        name="date" 
                        placeholder="" 
                        value="{{ old.date}}" 
                        min="2019-01-01" max="2100-12-31" 
                        >
                </div>
                <div class="form-group col-md-3">
                    <label for="place">Lieu : </label>
                    <input 
                        type="text" 
                        class="form-control {% if flash.errors.place %} is-invalid {% endif %}" 
                        id="place" 
                        name="place" 
                        placeholder="" 
                        value="{{ old.place }}">
                </div>
            </div>
            <div class="form-groupr">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Rechercher un évènement</button>
            </div>
        </form>
    </div>
    <div class="titleEventSection col-10 offset-1 text-center mb-3">
        <h2>Retrouver ici tous les évènements à venir :</h2>
    </div>
    <div class="col-md-10 offset-md-1 col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col"></th>
                    <th scope="col">Nom de l'évènement</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Lieu</th>
                    <th scope="col">Date</th>
                    <th scope="col">Heure</th>
                    <th scope="col">Tarif</th>
                    <th scope="col">Plus de détails</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events  %}
                     {{ include('eventsTemplate.html.twig', { 'event' : event })}}
                {% endfor %}
             </tbody>
        </table>
    </div>
<div class="text-center pages my-3">
    <nav aria-label="PageNavigation">
        <ul class="pagination">
            {% if page > 1%}
            {#displaying link for previous page is current page isn't the firs#}
                <li class="page-item">
                    <a class="page-link" href="{{ path_for('root', { 'page': 1 })}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Page Précedente</span>
                    </a>
                </li>
            {% endif %}
            {% if nbPages > 1%}
                {% for key in 1..nbPages %}
                    <li class="page-item {% if key == page %}  active {% endif %}">
                        <a class="page-link" href="{{ path_for('root', { 'page': key })}}">
                            {{key}}
                        </a>
                    </li>
                {% endfor %}
            {%endif%}
            {#displaying ling for net page if current page isn't last#}
            {%if page < nbPages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path_for('root', { 'page': (page+1) })}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Page suivante</span>
                    </a>
                </li>
            {%endif%}
        </ul>
    </nav>
</div>

  
{% endblock content %}
